footer {
    display: flex;
    padding-block: 24px;
    gap: 24px;
    font: 14px/150% var(--font-family);
}

footer {
& div:nth-child(1){
    margin-right: auto;
}

& div:nth-child(2) {
    display: flex;
    gap: 1rem;
}

} 

